<?xml version='1.0' encoding='utf-8'?>
<widget id="com.syncweb.spiceshuffle" ios-CFBundleVersion="0.0.5" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SpiceShuffle</name>
    <description>Finger Shuffling for SpiceAPI</description>
    <author email="dev@syncweb.com.au" href="https://syncweb.com.au">
        sync.dev
    </author>
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarDefaultScrollToTop" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <plugin name="cordova-plugin-file" spec="8.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="3.0.0" />
    <content src="shuffler.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
